
<ng-template #row_controls>
    <div class="col-7">
        <app-paging-section (refresh)="onRefresh()"
                            [pg]="pg"
                            (selectPageSize)="onPageSizeSelected($event)"
                            (selectPage)="onPageSelected($event)">
            <div>
                <app-search-input [hasIcon]="false" 
                                    (textChanged)="onSearchDrugChange($event)"
                                    #searchInp label="ابحث بأسم الدوا">
                </app-search-input>
            </div>
        </app-paging-section>
    </div>
    <div class="col-5">
        <div class="d-flex justify-content-center">
            <div>
                <select class="btn bg-white border-primary shadow  text-nowrap form-control" #s
                    (change)="selectedStoreChanged(s.value)">
                    <option value="">ابحث فى مخزن</option>
                    <option *ngFor="let o of stores" [value]="o.id">{{o.name}}</option>
                </select>
            </div>
           <div>
            <app-manage-current-package></app-manage-current-package>
           </div>
        </div>
    </div>
</ng-template>





<ng-template #collapsed let-item="item">
    <app-drugs-table [drugData]="item"></app-drugs-table>
</ng-template>

<ng-template #col_2_display let-count="stockCount">
 <div>
    <span class="badge badge-primary">{{count}}</span> 
    <span class="ml-1">من المخازن</span>
 </div>
</ng-template>

<ng-template #col_3_display let-hstStk="hstStk">
    <div>
       <span class="badge badge-primary">{{(hstStk.discount * 10)}}%</span> 
       <button class="btn btn-outline-secondary btn-sm ml-1">
           {{hstStk.stockName}}
        </button>
    </div>
</ng-template>

<ng-template #datatable>
            <app-main-table [cols]="cols | async"
                            [data]="dataTable"
                            [collapsed]="collapsed">
            </app-main-table>
</ng-template>


<section id="main-section">
    <app-loading-status [loading]="loading"></app-loading-status>
    <div class="container-fluid">       
        <div class="row">
            <ng-container *ngTemplateOutlet="row_controls"></ng-container>
        </div>
        
        <div class="row mb-3 mt-3">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">  
                        <div class="col-12">
                            <ng-container *ngTemplateOutlet="datatable"></ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>