.loading-wrapper{
    position: relative;
    .inner-warrper{
        background: #000;
        top: -8px;
        left: 0;
        width: 100%;
        height:calc(100% + 16px);
        z-index: 9000;
        text-align: center;
        opacity: .4;
        border-radius: 10px;
        .icon{
            $width:70px;
            top: calc(50% - 35px);
            position: absolute;
            z-index: 1000;
            width: $width;
            height: 70px;
        }
    }
}