<div class="edit-phone">
    <h6 class="h6 text-secondary mb-4">تغيير كلمة المرور الخاصة بك</h6>
    
    <div class="alert alert-danger" *ngIf="hasGError">
        <span>{{errors.g}}</span>
    </div>
    <form *ngIf="isMailConfirmed; else notconfirmed" (ngSubmit)="submit()" [formGroup]="fg">
        <div class="form-group">
            <input type="password" class="form-control" 
                    placeholder="كلمة المرور الحالية"
                    formControlName="oldPassword"
                    [ngClass]="{'border-danger':f.oldPassword.touched && f.oldPassword.invalid}">
                    
            <div class="text-danger" *ngIf="f.oldPassword.touched && f.oldPassword.invalid">
            <span *ngIf="f.oldPassword.errors.required">
               كلمة المرور الحالية مطلوبة
            </span>
            <span *ngIf="f.oldPassword.errors?.g">
                {{errors.oldPassword[0]}}
            </span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" 
                    placeholder="كلمة المرور الجديدة"
                    formControlName="newPassword"
                    [ngClass]="{'border-danger':f.newPassword.touched && f.newPassword.invalid}">
                    
            <div class="text-danger" *ngIf="f.newPassword.touched && f.newPassword.invalid">
            <span *ngIf="f.newPassword.errors.required">
               كلمة المرور الجديدة مطلوبة
            </span>
            <span *ngIf="f.newPassword.errors?.g">
                {{errors.newPassword[0]}}
            </span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" 
                   placeholder="تأكيد كلمة المرور الحالية"
                   formControlName="confirmPassword"
                   [ngClass]="{'border-danger':f.confirmPassword.touched && f.confirmPassword.invalid}">
                  
            <div class="text-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid">
                <span *ngIf="f.confirmPassword.errors.required">
                 تأكيد كلمة المرور الحالية مطلوبة
                </span>
                <span *ngIf="f.confirmPassword.errors.match">
                    كلمة السر وتأكيدها غير متطابقتان
                </span>
                <span *ngIf="f.confirmPassword.errors?.g">
                    {{errors.confirmPassword[0]}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <app-loading-button [loading]="isLoading" 
                    type="submit"
                    extra="mt-1"
                    [valid]="fg.valid">
            </app-loading-button>
        </div>
    </form>
    <ng-template #notconfirmed>
        <div class="alert alert-warning" >
            لا يمكنك تغيير كلمة المرور الا بعد حين تفعيل بريدك الالكترونى
        </div>
    </ng-template>
    
</div>