#joinSection{
    margin-top: 50px;
    .buttons{
        button{
            border-radius: 20px;
        }
    }
    .join-as-section{
        
    }
    .imgIcon{
        img{
            width:60px;
        }
    }
}