#footer-section{
    .part{
        ul{
            li{
                a{
                    color:#8d939d;
                    font-size: 14px;
                }
               i{
                   color:#f00;
                   margin-left: 2px;
               }
               margin: 6px auto;
            }
        }
    }
}