
<ng-template #cards>
    <div class="row mt-3">
        <div class="col-12 mb-2" *ngFor="let item of reqs">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span> صيدلية</span>
                        <span class="text-secondary ml-2">{{item.requesterPharmacyName}}</span>
                    </h5>
                    <div class="card-text" [loading]="cardLoading && selectedId==item.id">
                        <div class="d-flex flex-row">
                            <div>
                                <p>
                                    <span>عدد الرواكد فى  الطلب </span>
                                    <span class="badge badge-info p-2"> {{item.countOfRequestedLzDrugs}}</span>
                                </p>
                            </div>
                            <div *ngIf="selectedId==item.id">
                                <h6 class="mx-2">الرواكد المراد استبدالها</h6>
                               <div class="d-flex d-flex-row" *ngFor="let d of drugs">
                                   <div class="drugItem">
                                       <div>
                                        <span>{{d.name}}</span> <span [class]="d.s.c+' px-3 py-1 '">{{d.s.t}}</span>
                                       </div>
                                       <div class="py-1 d-flex d-flex-row">
                                           <button class="btn btn-success mx-1" (click)="acceptDrugReq(item.id,d.id)" *ngIf="d.status!=1">موافقة</button>
                                           <button class="btn btn-danger mx-1" (click)="rejectDrugReq(item.id,d.id)" *ngIf="d.status!=2">رفض</button>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info" (click)="getReqDetails(item.id)">تفاصيل الطلب</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<section class="datalist">
    <app-loading-status [loading]="loading"></app-loading-status>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-paging-section (refresh)="onRefresh()" [pg]="pg" (selectPageSize)="onPageSizeSelected($event)"
                    (selectPage)="onPageSelected($event)">
                </app-paging-section>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <ng-container *ngTemplateOutlet="cards"></ng-container>
                </div>
            </div>
        </div>

    </div>
</section>