<ng-template #right_btn>
    <button class="icon-btn" #close>
        <span class="span1">
            <svg class="" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
            </svg>
        </span>
        <span class="span2">

        </span>
        
    </button>
</ng-template>

<ng-template #left_btn>
    <button class="icon-btn" *ngIf="hasIcon">
        <span class="span1">
            <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" 
                 aria-hidden="true">
                 <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
        </span>
        <span class="span2"></span>
    </button>
</ng-template>


<div class="inp-parent-wapper position-relative" #input_wapper [ngClass]="{'no-icon':!hasIcon}">
    <span  *ngIf="!labelInBody" class="inp-top-label">{{label}}</span>
    <ng-container *ngTemplateOutlet="right_btn"></ng-container>  
    <div class="inp-wrapper position-relative text-left">
        <div class="inp-outer w-100">
            <span (click)="input.focus()" *ngIf="labelInBody" class="inp-label">{{label}}</span>
            <input #input type="text" 
                   class="" 
                   [ngClass]="{'notArabicFont':isArabicFont}"/>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="left_btn"></ng-container> 
</div>
