@import '../../../scss/variables';
table{
    thead{
       background: $primary;
       color:#fff;
    }
    tbody{
        tr{
            th{
               width:10px;
               i{
                   color:#777;
                   cursor: pointer;
                   transition:color .5s ease-in-out;
                   &:hover{
                       color:$primary;
                   }
               }
            }
            td{

            }
        }
    }
}