@import "../../../scss/bootstrap/variables";

.tabs-container {
  background: $primary;
  .link {
    color: inherit;
    text-decoration: none;
    .text,
    i {
      opacity: 0.5;
    }
    &.active {
      .text,
      i {
        opacity: 1;
      }
    }
  }
}
