<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="fa-md text-secondary">
                <span *ngIf="isPharmacy">بيانات التواصل خاصة الصيدلية</span>
                <span *ngIf="!isPharmacy">بيانات التواصل خاصة المخزن</span>
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <form (ngSubmit)="submit()" [formGroup]="fg">
                <div class="form-group">
                    <input type="tel" class="form-control" 
                            placeholder="رقم التليفون الارضى"
                            formControlName="landlinePhone"
                            [ngClass]="{'border-danger':f.landlinePhone.touched && f.landlinePhone.invalid}">
                            
                    <div class="text-danger" *ngIf="f.landlinePhone.touched && f.landlinePhone.invalid">
                    <span *ngIf="f.landlinePhone.errors.required">
                        رقم التليفون الارضى مطلوب
                    </span>
                    <span *ngIf="f.landlinePhone.errors.pattern">
                        رقم التليفون الارضى غير صحيح
                    </span>
                    <span *ngIf="f.landlinePhone.errors?.g">
                        {{errors.landlinePhone[0]}}
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" 
                            placeholder="عنوان الصيدلية بالتفصيل"
                            formControlName="address"
                            [ngClass]="{'border-danger':f.address.touched && f.address.invalid}">
                
                    <div class="text-danger" *ngIf="f.address.touched && f.address.invalid">
                        <span *ngIf="f.address.errors?.g">
                            {{errors.address[0]}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <app-loading-button [loading]="isLoading" 
                            type="submit"
                            extra="mt-1"
                            [valid]="fg.valid">
                    </app-loading-button>
                </div>
            </form>
        </div>
    </div>
</div>