<section id="account">
    <app-base-account>
      <slot-header>
        <h2 class="h2 text-primary text-center">صفحة ادارة حسابك</h2>
      </slot-header>
        <div  class="d-flex v-tabs">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills w-25" orientation="vertical">
            <li ngbNavItem="top">
              <a ngbNavLink class="text-center">
                  <i class="fa fa-envelope-o fa-lg d-block text-primary"></i>
                  <span class="mt-2 text">تغيير البريد الالكترونى</span>
              </a>
              <ng-template ngbNavContent>
                <app-account-edit-email></app-account-edit-email>
              </ng-template>
            </li>
            <li ngbNavItem="phone">
              <a ngbNavLink class="text-center">
                  <i class="fa fa-mobile-phone fa-lg d-block text-primary"></i>
                  <span class="mt-2 text">تغيير رقم الهاتف</span>
              </a>
              <ng-template ngbNavContent>
                <app-account-edit-phone></app-account-edit-phone>
              </ng-template>
            </li>
            <li ngbNavItem="password">
                <a ngbNavLink class="text-center">
                    <i class="fa fa-lock fa-lg d-block text-primary"></i>
                    <span class="mt-2 text">تغيير كلمة المرور</span>
                </a>
                <ng-template ngbNavContent>
                  <app-account-edit-password></app-account-edit-password>
                </ng-template>
            </li>
            <li ngbNavItem="activateEmail" *ngIf="!isEmailConfirmed">
              <a ngbNavLink class="text-center">
                  <i class="fa fa-envelope-square fa-lg d-block text-danger"></i>
                  <span class="mt-2 text">تفعيل البريد الالكترونى الخاص بك</span>
              </a>
              <ng-template ngbNavContent>
                <app-account-confirm-email></app-account-confirm-email>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="w-75 px-md-5"></div>
        </div>
    </app-base-account>
  </section>