<section id="formPasswordSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content text-center mt-5 mb-4">                  
                    <div class="row">
                        <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
                            <div class="icon">
                                <i class="fa fa-unlock-alt fa-5x text-primary"></i>
                            </div>
                            <h2 class="h2 text-primary mt-3">استرجاع كلمة السر</h2>
                            <div class="alert alert-info mt-2  m-auto">
                                مكنك استرجاع كلمة السر عن طريق تغيير كلمة السر
                                سنقوم بارسال كود الى بريدك الالكترونى الذى سجلت به من قبل
                                هذا الكود يساعدك على اعادة ضبط كلمة السر مرة اخرى
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
                            <div class="recoverAccount mt-2">
                                <div *ngIf="!emailValidated" class="typingEmail">
                                    <input [formControl]="emailControl"
                                           type="email" 
                                           class="form-control" 
                                           [appTrackArabicText]="emailControl"
                                           [ngClass]="{'border-danger':emailControl.touched && emailControl.invalid}"
                                           placeholder="ادخل بريد الالكترونى الذى سجلت به لدينا هنا">
                                    <div class="text-danger" *ngIf="emailControl.touched && emailControl.invalid">
                                            <span *ngIf="emailControl.errors.required">
                                                 البريد الالكترونى مطلوب 
                                            </span>
                                            <span *ngIf="emailControl.errors.email">
                                                البريد الالكترونى غير صحيح
                                            </span>
                                            <span *ngIf="emailControl.errors.g">
                                                {{emailErrorMessage[0]}}
                                            </span>                                     
                                    </div>
                                    <app-loading-button [loading]="isLoading" 
                                            type="button"
                                            text="ارسال الكود"
                                            extra="mt-2"
                                            (clicked)="submitEmail()"
                                            [valid]="emailControl.valid">
                                    </app-loading-button>
                                </div>
                                <div *ngIf="emailValidated" class="newPasswordTyping">
                                    <div class="resetPassword mt-4">
                                        <div class="h5 text-secondary">لم استلم اى كود على بريدى الالكترونى</div>
                                        <button class="btn btn-link text-primary" 
                                                    [disabled]="isLoading"
                                                    (click)="submitEmail()"
                                                    type="button">
                                                <span *ngIf="isLoading" class="mx-1">
                                                    <span  class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                    <span>جارى الارسال...</span>
                                                </span>
                                                
                                                <span>ارسل مرة اخرى الكود الى <span>{{emailControl.value}}</span></span>
                                        </button>
                                        <div class="success-email-sent alert alert-success mt-2">
                                           <i class="fa fa-check-circle-o text-info  mx-1"></i>
                                           <span>لقد ارسلنا كود الاسترجاع الى بريدك اللكترونى</span>
                                        </div>
                                        <div class="form mt-3">
                                            <app-reset-password [email]="emailControl.value"></app-reset-password>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
