<section class="services-section pt-4">
    <h3 class="text-primary text-center">خدمات فاست دو</h3>
    <div class="container-fluid">
        <div class="row services">
            <div class="col-md-4 col-xs-12 service">
                <div class="img-wrapper text-center">
                    <img src="../../../../assets/pharmacyIcon.png" alt="">
                </div>
                <h6 class="service-title text-primary mt-2">
                    تطوير ادارة الصدليات
                </h6>
                <p class="service-desc">
                    فاست دو يجعلك قادر على تسجيل صيدليتك لاستدخدام المزايا التى نقدمها , حيث يمكن لصدليتك التعامل مع المخازن مباشرة والتعامل ايضا مع الصيدليات الاخرى
                </p>
            </div>
            <div class="col-md-4 col-xs-12 service mt-sm-2">
                <div class="img-wrapper text-center">
                    <img src="../../../../assets/storeIcon.png" alt="">
                </div>
                <h6 class="service-title text-primary mt-2">
                    تطوير ادارة المخازن
                </h6>
                <p class="service-desc">
                    فاست دو يجعلك قادر على تسجيل مخزنك لاستخدام المزايا التى نقدمها للمخازن , حيث يمكن للمخزن التعامل مع الصديليات مباشرة وايضا التعامل مع المخازن الاخرى
                </p>
            </div>
            <div class="col-md-4 col-xs-12 service  mt-sm-2">
                <div class="img-wrapper text-center">
                    <img src="../../../../assets/drugsIcon.png" alt="">
                </div>
                <h6 class="service-title text-primary mt-2">
                    ايجاد واستبدال رواكد
                </h6>
                <p class="service-desc">
                    فاست دو يجعلك قادر على ايجاد واستبدال الرواكد بين صيدليتك واى صيدلية اخرى
                </p>
            </div>
        </div>
    </div>
</section>
