<div class="modal-header" *ngIf="hasHeader">
    <button type="button" class="close btn btn-sm p-1" 
      aria-label="Close button" aria-describedby="modal-title" 
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!message">
    <p><strong>هل انت متأكد من حذف {{deletedType}}  <span class="text-primary">{{deletedName}}</span></strong></p>
    <p>سيتم حذف كل ما يتعلق ب {{deletedType}}
    <span class="text-danger">هذه العملية لايمكن استرجاعها مرة اخرى</span>
    </p>
      <div *ngIf="template" class="mt-2">
        <ng-container *ngTemplateOutlet="template"></ng-container>
      </div>
  </div>
  <div class="modal-body" *ngIf="message">
  <div>{{message}}</div>
  <div *ngIf="template" class="mt-2">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
  </div>

  <div class="modal-footer py-1 border-top-0">
    <button type="button" class="btn btn-danger btn-sm" (click)="modal.dismiss('cancel click')">
        {{cancelBtntext}}
    </button>
    <button  type="button" ngbAutofocus class="btn btn-primary btn-sm" (click)="modal.close('Ok click')">
        {{okBtntext}}
    </button>
  </div>

