
<div>
    <div class="alert-danger text-center mb-1" *ngIf="errors.g">
        <span>{{errors.g}}</span>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-group">
            <input type="password" class="form-control"
                   formControlName="newPassword"
                   [ngClass]="{'border-danger':f.newPassword.touched && f.newPassword.invalid}"
                   placeholder="كلمة المرور الجديدة">
            <div class="text-danger" *ngIf="f.newPassword.touched && f.newPassword.invalid">
                <span *ngIf="f.newPassword.errors.required">
                    كلمة المرور مطلوبة
                </span>
                <span *ngIf="f.newPassword.errors.g">
                    {{errors.newPassword[0]}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control"
                   formControlName="code"
                   [appTrackArabicText]="f.code"
                   [ngClass]="{'border-danger':f.code.touched && f.code.invalid}"
                   placeholder="الكود المرسل">
            <div class="text-danger" *ngIf="f.code.touched && f.code.invalid">
                <span *ngIf="f.code.errors.required">
                    الكود المرسل مطلوب
                </span>
                <span *ngIf="f.code.errors.g">
                    {{errors.code}}
                </span>
            </div>
        </div>
        <app-loading-button [loading]="loading" 
                type="submit"
                extra="mt-1"
                [valid]="form.valid">
        </app-loading-button>
    </form>
</div>
