

<ng-template #content>
    <tr>
        <th  scope="row" class="" *ngIf="collapsed_tr">
            <i class="fa fa-md"
               [ngClass]="{'fa-chevron-down':collapsed,'fa-chevron-up':!collapsed}" 
               (click)="toggle()"></i>
        </th>
        <ng-container *ngFor="let col of cols">
            <td *ngIf="(!col.propName && col.display); else normal">
               <ng-content></ng-content>                                             
            </td>
            <ng-template #normal>
                <td>
                    <div [class]="col.classList?col.classList:''">
                       <span [class]="col.classList?col.classList:''" *ngIf="!col.template; else temp">{{item[col.propName]}}</span>
                        <ng-container #temp *ngTemplateOutlet="col.template; context:item"></ng-container>                  
                    </div>
                </td>
            </ng-template>
            
        </ng-container>
     
    </tr>
    <tr *ngIf="!collapsed" class="tr-collapsed" #collapsed>
        <td [attr.colspan]="collapsedColsPan">
            <div class="w-100">                                   
                <ng-container *ngTemplateOutlet="collapsed_tr; context:{item:item}"></ng-container> 
            </div>
        </td>
    </tr>
</ng-template>
